@model Lab11._3_CoffeeShop.Models.RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<br />

Welcome @ViewData["name"]!
<br />
<br />

An email has been sent to @ViewData["email"] and a SMS sent to @ViewData["phone"].
<br />
You are now registered!